
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 100px;
    text-align: center;
}

.secret-text,.secret-heading {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.secret-text{
  width: 48%;
}

.secrets{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile-photo{
  width: 32px;
  height: 32px;
}